.hero-section{
	height: 80vh;
	background-image: url("../img/aaa.png");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.spain{
	text-align: center;
	font-size: 8em;
}

.center{
	text-align: center;
	font-weight: bold;
}
.cntnt{
	font-size: 25px;
}
.aaaa{
	text-decoration: underline;
}
body {
  background-image: linear-gradient(to right, red, yellow, orange );
}